.wrapper {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding: 30px;
	color: #fff;
	height: 880px;
	width: 500px;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
